1- given a list of numbers, write a program to find the mean of the numbers in list

In [30]:
l = [10,20,30,40,50]
sum = 0
for i in l:
  sum+= i
print("mean",sum/len(l))

mean 30.0

2- given a list of numbers unsorted, write a program to find the median of the numbers in list

In [31]:
l = [30,40,10,20,50]
l.sort()
middle_loc = int(len(l)/2)
t = int((l[middle_loc] + l[middle_loc+1])/2)
if len(l)%2 ==0 :
  print("median1",l[t])
else:
  print("median",l[middle_loc])

median 30

3- from a list of numbers create 2 list , one containing only the even numbers and other only the odd numbers

In [32]:
l = [1,2,3,4,5,6,7,8,9,10]
even_list = []
odd_list = []
for i in l:
  if i%2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)
print("Even list",even_list)
print("Odd list", odd_list)

Even list [2, 4, 6, 8, 10]
Odd list [1, 3, 5, 7, 9]

6- write a program to take a positive number as input from user. if the user enters negative number then keep promting him to enter positive number until he enters the positive number and then print the same

In [33]:
n = int(input("Enter a number: "))

while n<0:
  print("Enter a positive number")
  n = int(input("Enter a number: "))
print(" positive number is",n)

Enter a number: -2
Enter a positive number
Enter a number: -3
Enter a positive number
Enter a number: 2
 positive number is 2

**7**- consider the below list of list conatins following information :

1. The name of a university
2. The total number of enrolled students
3. The annual tuition fees

universities = [
['California Institute of Technology', 2175, 37704],
['Harvard', 19627, 39849],
['Massachusetts Institute of Technology', 10566, 40732],
['Princeton', 7802, 37000],
['Rice', 5879, 35551],
['Stanford', 19535, 40569],
['Yale', 11701, 40500]
]

write a program to print follwoing information :
1- a list of all the universitites  : ['California Institute of Technology','Harvard',..so on]
2- total number of student entrolled in all the unversities together
3- mean of tuition fees

In [34]:
univ = [ ['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551],
  ['Stanford', 19535, 40569], ['Yale', 11701, 40500] ]

In [35]:
l =[]
l1 = []
l2 = []
for i in univ:
  l.append(i[0])
  l1.append(i[1])
  l2.append(i[2])
sum = 0
for j in l2:
  sum+= j


print("University name ", l)
print("The no. of student",l1)
print("Mean of tuition fees",sum/len(l2))

University name  ['California Institute of Technology', 'Harvard', 'Massachusetts Institute of Technology', 'Princeton', 'Rice', 'Stanford', 'Yale']
The no. of student [2175, 19627, 10566, 7802, 5879, 19535, 11701]
Mean of tuition fees 38843.57142857143

8- write a program to convert above universities list to a dictionary. the keys should be the name of the university

In [36]:
p = {}
for i in range(len(l)):
  p[l[i]] = [l1[i],l2[i]]
p

{'California Institute of Technology': [2175, 37704],
 'Harvard': [19627, 39849],
 'Massachusetts Institute of Technology': [10566, 40732],
 'Princeton': [7802, 37000],
 'Rice': [5879, 35551],
 'Stanford': [19535, 40569],
 'Yale': [11701, 40500]}

9-  write a program that reverses a given string. For example, if the input is "Hello" from user, the output should be "olleH"

In [37]:
s :str = input("Enter a string:" )
for i in range(len(s),0,-1):
  print(s[i-1],end = '')

Enter a string:hello
olleh

10- write a program that finds the largest number in a list(unsorted) of integers without using sort/sorted method.

In [38]:
l = [100, 90,110,200,500,3200]
l1 = []
for i in range(0,len(l)):
  if l[i-1]<l[i]:
    l1.append(l[i-1])
  else :
    l[i] = l[i-1]
    l1.append(l[i])
print(l1[-1])

3200

In [39]:
l = [10, 9,11,2,50,32]
l1 = []
for i in range(0,len(l)):
  if l[i-1]<l[i]:
    l1.append(l[i-1])
  else :
    l[i] = l[i-1]
    l1.append(l[i])
print(l1[-1])

50